{% load static %}
</br></br>
<footer style="background-color: #E3E0FE;">
    </br>
    <div class="container">
        <section>

            <div class="row">

                <div class="col text-start p-4">
                    <span><code class="text-opama">GitHub</code> <a target="_blank" href="https://github.com/reybritez/opama-lapaciencia"><i class="fa-brands fa-github fa-lg"></i></a></span>
                    <br><br>
                    <span><code class="text-opama pt-5">Media</code> <a target="_blank" href="{% url 'content:opama_lucho_benitez' %}"><i class="fa-brands fa-youtube fa-lg"></i></a></span>
                    <br><br>
                    <span><a target="_blank" href="/sitemap.xml"><code class="text-opama">SiteMap</code> <i class="fa-solid fa-earth-africa"></i></a></span>
                </div>

                <div class="col text-end" >
                    <a href="#"><img class="center p-2" width="60" height="160" src="{% static 'images/photos/bus_fantasma.jpg' %}" ></a>
                </div>

            </div>

            <div class="text-center">
                <small class="text-light">
                    <p class="text-opama"   >🐍Django & ⚛️React | by <a target="_blank" href="https://github.com/reybritez/opama-lapaciencia"> OPAMA</a> </p>
                    <script>document.getElementById('copyright-year').innerText = (new Date()).getFullYear();</script>
                </small>
            </div>

        </section>   
    </div>
    </br>
</footer>
