{% load static %}
</br></br>
<footer style="background-color: #000000;">
    </br>
    <div class="container">
        <section>

            <div class="row">

                <div class="col text-start">
                    <span><code>GitHub</code> <a target="_blank" href="https://github.com/reybritez/opama-lapaciencia"><i class="fa-brands fa-github fa-lg"></i></a></span>
                    <br><br>
                    <span><code>Media</code> <a target="_blank" href="{% url 'content:opama_lucho_benitez' %}"><i class="fa-brands fa-youtube fa-lg"></i></a></span>
                    <br><br>
                    <span><a target="_blank" href="/sitemap.xml"><code>SiteMap</code> <i class="fa-solid fa-earth-africa"></i></a></span>
                </div>

                <div class="col text-end">
                    <a href="#"><img class="center" src="{% static 'images/photos/bus_fantasma.jpg' %}" width="200" height="90"></a>
                </div>

            </div>

            <div class="text-center">
                <small class="text-light">
                    <p>🐍Django & ⚛️React Base |  Made Whit Love by <a target="_blank" href="https://reybritez.com/"> Steven Rey</a>  © Copyright <span id="copyright-year"></span></p>
                    <script>document.getElementById('copyright-year').innerText = (new Date()).getFullYear();</script>
                    <!-- Please Accredit my website in your project -->
                    <b class="text-success"> Opama La Paciencia v0.22.22</b> | <a target="_blank" href="https://growth-delta.com/"> Gracias a Growth Delta</a>
                </small>
            </div>

        </section>   
    </div>
    </br>
</footer>
